@import "node_modules/govuk-frontend/govuk/all";

.version-6 {
  &.fiat-template__body {
    .govuk-width-container {
      max-width: 1200px;
    }
  }

  .home-wrapper {
    .govuk-phase-banner {
      border-bottom: none;
    }
  }

  .fiat-grid-3 {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.875rem;
    margin: 1em 0;

    @include govuk-media-query($from: tablet, $until: desktop) {
      grid-template-columns: 1fr 1fr;
    }

    @include govuk-media-query($until: tablet) {
      display: block;

      div {
        margin-bottom: 1.875rem;
      }
    }
  }

  .fiat-grid-2 {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
    margin: 1em 0;

    @include govuk-media-query($until: desktop) {
      display: block;

      .fiat-grid-2__item {
        margin-bottom: 1.875rem;
      }
    }
  }

  .fiat-grid-2-column {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    column-gap: 1.875rem;

    @include govuk-media-query($until: desktop) {
      display: block;
    }
  }

  .fiat-flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.875rem;
    align-items: baseline;
  }
}
