<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script>
var cards = document.querySelectorAll('.card');
Array.prototype.forEach.call(cards, function (card) {
    var down = void 0,
        up = void 0,
        link = card.querySelector('h2 a');
    card.style.cursor = 'pointer';
    card.onmousedown = function () {
        return down = +new Date();
    };
    card.onmouseup = function () {
        up = +new Date();
        if (up - down < 200) {
            link.click();
        }
    };
});
</scripts>