@import "node_modules/govuk-frontend/govuk/all";
@import "./variables";
@import "./mixins";

.dfe-black-button {
  background-color: govuk-colour("black");
  color: govuk-colour("white");
  box-shadow: none;

  &:hover {
    background-color: $dfe-blue;
  }
}

.dfe-inline-button {
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 0;
}

.dfe-search-input {
  border-color: transparent;
  height: 3.125rem;
}

.dfe-callout {
  @include govuk-responsive-padding(9, "top");
  @include govuk-responsive-padding(8, "bottom");
  background-color: govuk-colour("blue");

  .govuk-heading-xl,
  .govuk-body {
    color: govuk-colour("white");
  }
}

.dfe-card {
  @include govuk-responsive-padding(5);
  background-color: govuk-colour("light-grey");
}

.dfe-side-nav {

  .dfe-side-nav__list {
    @include govuk-responsive-margin(7, "bottom");
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }

  .dfe-side-nav__item {
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 6px;
    box-sizing: content-box;
    border-left: 4px solid transparent;
  }

  .dfe-side-nav__item--current {
    background-color: $dfe-grey-light;
    border-color: $dfe-blue-secondary;
    font-weight: bold;
  }

  .dfe-side-nav__heading {
    @extend .dfe-side-nav__item;
    font-weight: normal;
    font-size: 1.1857rem;
    color: $dfe-grey;
    margin: 0;
  }

  .dfe-side-nav__link {
    text-decoration: none;
  }
}

.dfe-page-heading {
  .dfe-page-heading__title {
    @extend .govuk-heading-xl;
    @include govuk-responsive-margin(3, "bottom");
  }

  .dfe-page-heading__detail {
    @include grid-2-row-variable-width(1.25rem);
  }
}

.dfe-data-source-list {
  .dfe-data-source-list__item {
    @include grid-2-row-variable-width(0.625rem);
    margin-bottom: 0.625rem;
  }

  .dfe-data-source-list__title {
    font-weight: bold;
  }
}

.dfe-summary-list-narrow {
  .govuk-summary-list__key {
    @include govuk-media-query($from: tablet) {
      width: 20%;
    }
  }
}
