{% extends "layout.html" %}
{% block pageTitle %}
Buryfield Academy
{% endblock %}
{% block beforeContent %}
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row govuk-!-padding-top-2">
                <div class="govuk-grid-column-one-half">
                    <strong class="govuk-tag">URN 104079</strong>
                    <p class="govuk-body-s govuk-!-margin-top-2">
               Buryfield Road, Solihull, West Midlands, B91 2AZ (<a href="https://www.google.co.uk/maps/place/Greswold+Primary+School/@52.4244216,-1.7843641,17z/data=!4m8!1m2!2m1!1shttps:%2F%2Fgoo.gl%2Fmaps%2FFHKCcnDxWZ1pXyE26!3m4!1s0x4870b9faf7cb0c6d:0x88207d9ed86f1a45!8m2!3d52.4235598!4d-1.7802754" target="_blank">View on map
               <a/>
                  )
            </p>
                    </div>
                    <div class="govuk-grid-column-one-half">

                        <ul class="govuk-list inline">
                            <li>
                                <a class="govuk-link" href="#">Overview</a>
                            </li>
                            <li>
                                <a class="govuk-link selected" href="/academy/financial">Financial</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#">Governance</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#">Ofsted</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>

        {% endblock%}
        {% block content %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
    Financial health assessment complete for Buryfield Academy
  </h1>
   <p  class="govuk-panel__body"><a href="/reporting/fha/report" target="_blank">View the report</a> in a new tab.</p>
  <p  class="govuk-panel__body">A link to the report has been emailed to you.</p>
 <p  class="govuk-panel__body">The report is also available on the <a href="/">dashboard</a> under recent reports and in the <a href="/academy/financial">Buryfield Academy financial section</a>.</p>
 

                    </div>

                    <h2 class="govuk-heading-m">Next steps</h2>

                    <ul class="govuk-list">
                        <li><a href="/academy/financial">Return to Buryfield Academy financial section</a></li>
                        <li><a href="/reporting">Start another FHA for a different academy or trust</a></li>
                    </ul>

                </div>

            </div>
        {% endblock %}