{% extends "layout.html" %}
{% block pageTitle %}
Buryfield Academy
{% endblock %}
{% block beforeContent %}
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row govuk-!-padding-top-2">
                <div class="govuk-grid-column-one-half">
                    <strong class="govuk-tag">URN 104079</strong>
                    <p class="govuk-body-s govuk-!-margin-top-2">
               Buryfield Road, Solihull, West Midlands, B91 2AZ (<a href="https://www.google.co.uk/maps/place/Greswold+Primary+School/@52.4244216,-1.7843641,17z/data=!4m8!1m2!2m1!1shttps:%2F%2Fgoo.gl%2Fmaps%2FFHKCcnDxWZ1pXyE26!3m4!1s0x4870b9faf7cb0c6d:0x88207d9ed86f1a45!8m2!3d52.4235598!4d-1.7802754" target="_blank">View on map
               <a/>
                  )
            </p>
                    </div>
                    <div class="govuk-grid-column-one-half">

                        <ul class="govuk-list inline">
                            <li>
                                <a class="govuk-link" href="#">Overview</a>
                            </li>
                            <li>
                                <a class="govuk-link selected" href="/academy/financial">Financial</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#">Governance</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#">Ofsted</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>

        {% endblock%}
        {% block content %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-l">Buryfield Academy</span>
                    <h1 class="govuk-heading-l">Financial Health Assessment report</h1>

                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Summary</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Companies House number</th>
                                <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Trust type</th>
                                <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date created</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Created by</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a href="https://find-and-update.company-information.service.gov.uk/company/OC320795" target="_blank">OC320795</a></td>
                                <td class="govuk-table__cell">MAT</td>
                                <td class="govuk-table__cell">4 August 2022</td>
                                <td class="govuk-table__cell">Robert Banner</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">RPA Cover</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">TFF</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">SRMA Deployed</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Capacity</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">N/A</td>
                                <td class="govuk-table__cell">No</td>
                                <td class="govuk-table__cell">Yes</td>
                                <td class="govuk-table__cell">26,788</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="govuk-heading-m">Overall Financial and Governance Summary</h2>
                    <p>The trust reported a cumulative surplus of £29,371k in its 2020/21 accounts, 22.5% of total income, which is a healthy level.</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>The cumulative surplus is forecast to be stable or to increase over the next three years (remaining above 5% of income)</li>
                        <li>The forecast surplus of £37,595k (25% of income) for 2023/24 is deemed by the ESFA as resilient to unexpected expenditure or a reduction in income if pupil numbers are not at the levels projected</li>
                        <li>There is a minimal risk of short‑term financial stress</li>
                    </ul>

                    <p>The FS notes that the trust is undertaking due-diligence on a large secondary sponsor-led academy, that will potentially join the trust in February 2022. Work continues to secure the opening of five schools approved in Wave 13 and 14 of the free schools’ programme – Salford, Rochdale, Radcliffe, Wolverhampton and Manchester; although no target dates have yet been agreed. The trust is also preparing, in partnership with Eton College, for the submission of applications to open three selective sixth form colleges in the state sector within the expected Wave 15 of the free schools’ programme. The Trust has also continued discussions regarding the future sponsorship of further academies.</p>
                    <h2 class="govuk-heading-m">Long Term Budget Forecast</h2>

                    <table class="govuk-table">

                        <thead class="govuk-table__head govuk-body-xs">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Line</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-table__header--numeric">Actual </td>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-table__header--numeric" colspan="4">Budget Forecast Return 2022</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell"></td>
                                <td scope="row" class="govuk-table__cell current-col govuk-table__header--numeric">2020/21</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2021/22</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2022/23</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2023/24</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2024/25</td>
                            </tr>
                            <tr class="govuk-table__row govuk-body-xs">
                                <td scope="row" class="govuk-table__cell"></td>
                                <td scope="row" class="govuk-table__cell  govuk-table__header--numeric current-col">£'000</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">£'000</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">£'000</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">£'000</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">£'000</td>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body govuk-body-xs">

                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Brought forward cumulative surplus / deficit </td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric current-col">19,885</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">29,371</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">34,936</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">37,031</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">37,595</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Total income<br/>BFR Line 298</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric current-col">130,329</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">140,860</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">147,954</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">150,523</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">152,143</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">In year surplus / deficit<br/>BFR Line 400</td>
                                <td scope="row" class="govuk-table__cell  govuk-table__header--numeric current-col">9,486</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">5,565</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2,095</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">564</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">
                                    <span class="negative">-1,424</span></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Carried forward cumulative surplus / deficit</td>
                                <td scope="row" class="govuk-table__cell  govuk-table__header--numeric current-col">29,371</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">34,936</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">37,031</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">37,595</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">36,171</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Carried forward cumulative surplus / deficit as % of total income</td>
                                <td scope="row" class="govuk-table__cell  govuk-table__header--numeric current-col">22.5%</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">24.8%</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">25.0%</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">25.0%</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">23.8%</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Internal use only
    </h2>
                        </div>
                        <div class="govuk-notification-banner__content">

                            <h2 class="govuk-heading-m">Management Letter / Internal Audit</h2>
                            <p>The ML identified 2 risks in the prior year, one moderate, one identified as 'housekeeping' both of which were deemed to have been resolved to the auditor's satisfaction.  Current year there were six housekeeping issues identified all of which had been actioned by the trust.  </p>
                            <p>					
The internal audit notes no opinion or substantial assurances on all but procurement controls and payroll and HR which notes "reasonable assurances", however no further information is recorded to substantiate this.	</p>

                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header  govuk-!-width-one-third">RAT Rating</th>
                                        <th scope="col" class="govuk-table__header">Comments</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">C</th>
                                        <td class="govuk-table__cell">Moderate Risk. <br/><br/> This is because of High Executive Pay (first identified in 17/18) and AR/BFR forecast accuracy (both identified in 2020/21).</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>

                    <table class="govuk-table ">
                                <thead class="govuk-table__head  govuk-body-xs">
                                    <tr class="govuk-table__row">
            <th class="govuk-table__cell" colspan="2">Audited Financial Statements</th>
            <th class="govuk-table__cell"  colspan="4">2020/21</th>
        </tr>
    </thead>
     <tbody class="govuk-table__body  govuk-body-xs">
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header"></td>
            <th class="govuk-table__cell"></th>
            <th class="govuk-table__cell current-col ">£'000</th>
            <th class="govuk-table__cell">Comments / Issues Identified</th>
            <th class="govuk-table__cell"></th>
            <th class="govuk-table__cell"></th>
        </tr>
        <tr>
            <td class="govuk-table__cell"  rowspan="2">Income and Expenditure</td>
            <td class="govuk-table__cell">Total income</td>
            <td class="govuk-table__cell current-col ">130,329</td>
            <td class="govuk-table__cell">Total income has increased from last year by £27,670k.</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
        </tr>
        <tr>
            <td class="govuk-table__cell">In-year surplus/deficit</td>
            <td class="govuk-table__cell current-col ">9,486</td>
            <td class="govuk-table__cell">This is an actual increase on the previous year surplus of £7,453k</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
        </tr>
        <tr>
            <td class="govuk-table__cell"  rowspan="2">Liquidity</td>
            <td class="govuk-table__cell">Current ratio</td>
            <td class="govuk-table__cell current-col ">4.4</td>
            <td class="govuk-table__cell">This indicates the trust is likely to meets its debts as they fall due.</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
        </tr>
        <tr>
            <td class="govuk-table__cell">Year-end cash balance</td>
            <td class="govuk-table__cell current-col ">33,126</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
        </tr>
        <tr>
            <td class="govuk-table__cell">Solvency</td>
            <td class="govuk-table__cell">C/fwd cumulative surplus/deficit</td>
            <td class="govuk-table__cell current-col ">29,371</td>
            <td class="govuk-table__cell">Carried forward surplus represents 19.4% of total income.</td>
        </tr>
    </tbody>
</table>
 <table class="govuk-table ">
                                <thead class="govuk-table__head  govuk-body-xs">
        <tr>
            <th class="govuk-table__cell">End of Year Budget Forecast</th>
            <th class="govuk-table__cell"></th>
            <th class="govuk-table__cell ">2021/22</th>
            <th class="govuk-table__cell"></th>
            <th class="govuk-table__cell"></th>
            <th class="govuk-table__cell"></th>
        </tr>
    </thead>
 <tbody class="govuk-table__body  govuk-body-xs">
        <tr>
            <th class="govuk-table__cell"></th>
            <th class="govuk-table__cell"></th>
            <th class="govuk-table__cell current-col ">£'000</th>
            <th class="govuk-table__cell">Comments/issues identified</th>
            <th class="govuk-table__cell"></th>
            <th class="govuk-table__cell"></th>
        </tr>
        <tr>
            <td class="govuk-table__cell">Actual b/fwd cumulative surplus/deficit from accounts</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell current-col ">29,371</td>
            <td class="govuk-table__cell">(Confidence check: the figure from line 410 in the BFR is £29372k)</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
        </tr>
        <tr>
            <td class="govuk-table__cell">Total income (BFR line 298)</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell current-col ">140,860</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
        </tr>
        <tr>
            <td class="govuk-table__cell">Forecast in-year surplus/deficit for 21/22 (BFR line 400)</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell current-col ">5,565</td>
            <td class="govuk-table__cell">This is a projected decrease on the previous year surplus of £3,921k</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
        </tr>
        <tr>
            <td class="govuk-table__cell">Forecast c/fwd cumulative surplus/deficit for 21/22 (BFR line 430)</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell current-col ">34,936</td>
            <td class="govuk-table__cell">Projected carried forward surplus represents 24.8% of total income.</td>
        </tr>
    </tbody>
</table>

 <h2 class="govuk-heading-m">Additional comments</h2>

 <p>{{data['comments']}}</p>

 <div class="govuk-inset-text">
This document will be valid from 4 August 2022 to 31 December 2022.
 </div>

                </div>
                <div class="govuk-grid-column-one-third">

                    <h2 class="govuk-heading-m">Report actions</h2>

                    <a href="#" class="govuk-button">Download or export</a>

                    <ul class="govuk-list">
                        <li>
                            <a href="">Delete report</a>
                        </li>
                    </ul>

                </div>

            </div>
        {% endblock %}