{% extends "layout.html" %}
{% block pageTitle %}
Buryfield Academy
{% endblock %}
{% block beforeContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row govuk-!-padding-top-2">
                <div class="govuk-grid-column-one-half">
                    <strong class="govuk-tag">URN 104079</strong>
                    <p class="govuk-body-s govuk-!-margin-top-2">
               Buryfield Road, Solihull, West Midlands, B91 2AZ (<a href="https://www.google.co.uk/maps/place/Greswold+Primary+School/@52.4244216,-1.7843641,17z/data=!4m8!1m2!2m1!1shttps:%2F%2Fgoo.gl%2Fmaps%2FFHKCcnDxWZ1pXyE26!3m4!1s0x4870b9faf7cb0c6d:0x88207d9ed86f1a45!8m2!3d52.4235598!4d-1.7802754" target="_blank">View on map
               <a/>
                  )
            </p>
                    </div>
                    <div class="govuk-grid-column-one-half">

                        <ul class="govuk-list inline">
                            <li>
                                <a class="govuk-link" href="#">Overview</a>
                            </li>
                            <li>
                                <a class="govuk-link selected" href="/academy/financial">Financial</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#">Governance</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#">Ofsted</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>
        {% endblock%}
        {% block content %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h1 class="govuk-heading-l">Buryfield Academy</h1>
                    <table class="govuk-table">
                        <tbody class="govuk-table__body govuk-body-s">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Type</td>
                                <td scope="row" class="govuk-table__cell">Academy</td>
                            </tr>
                              <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Companies House number</td>
                                <td scope="row" class="govuk-table__cell"> <a target="_blank" href="https://find-and-update.company-information.service.gov.uk/company/OC320795">OC320795</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Formed</td>
                                <td scope="row" class="govuk-table__cell">1 Sept 2020</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">RAT</td>
                                <td scope="row" class="govuk-table__cell">
                                    <strong class="govuk-tag govuk-tag--green">B</strong><br/><br/>
                                    <span class="govuk-body-xs">Last updated: 4 August 2022</span>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Region</td>
                                <td scope="row" class="govuk-table__cell">Midlands</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Authority</td>
                                <td scope="row" class="govuk-table__cell">Solihull MBC</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Website</td>
                                <td scope="row" class="govuk-table__cell">
                                    <a href="https://www.greswold.solihull.sch.uk/" target="_blank">School website</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 class="govuk-heading-m">Pupil information</h2>
                    <p class="govuk-body-s">Actuals from <a href="">last audit</a> submitted on 30 December 2021</p>
                    <table class="govuk-table">
                        <tbody class="govuk-table__body govuk-body-s">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Pupils</td>
                                <td scope="row" class="govuk-table__cell">18,241 (2020/21)</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Pupil capacity</td>
                                <td scope="row" class="govuk-table__cell">68%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="govuk-grid-column-two-thirds bordered-left">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <h2 class="govuk-heading-m">Financial summary</h2>
                        </div>
                        <div class="govuk-grid-column-one-half govuk-text-right">
                            <a href="/reporting/fha/new" class="govuk-button govuk-!-margin-bottom-5" data-module="govuk-button">New assessment</a>
                        </div>
                    </div>

                    <div class="govuk-grid-row gc-card-group">
                        <div class="govuk-grid-column-one-half gc-card-group__item ">
                            <div class="gc-card gc-card-rag--green">
                                <div class="gc-card__content">
                                    <span class="govuk-caption-m">Total income for 2020-21</span>
                                    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">£130,329,000</h3>
                                    <p class="gc-card__description">
                                        <span class="govuk-!-font-weight-bold">As of: </span> 30 July 2021
                  </p>
                                    <span class="govuk-caption-m">Forecast for 2021-22</span>
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">£140,860,000</h3>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-half gc-card-group__item ">
                            <div class="gc-card gc-card-rag--green">
                                <div class="gc-card__content">
                                    <span class="govuk-caption-m">Cumulative surplus/deficit 2020-21</span>
                                    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">£29,371,000</h3>
                                    <p class="gc-card__description">
                                        <span class="govuk-!-font-weight-bold">As of: </span> 30 July 2021
                  </p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="govuk-heading-m">Long Term Budget Forecast</h2>

                    <p>
                        <a href="">View submitted audits and budget forecast reports</a>
                    </p>

                    <table class="govuk-table">

                        <thead class="govuk-table__head govuk-body-xs">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Line</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-table__header--numeric">Actual </td>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-table__header--numeric" colspan="4">Budget Forecast Return 2022</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell"></td>
                                <td scope="row" class="govuk-table__cell current-col govuk-table__header--numeric">2020/21</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2021/22</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2022/23</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2023/24</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2024/25</td>
                            </tr>
                            <tr class="govuk-table__row govuk-body-xs">
                                <td scope="row" class="govuk-table__cell"></td>
                                <td scope="row" class="govuk-table__cell  govuk-table__header--numeric current-col">£'000</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">£'000</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">£'000</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">£'000</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">£'000</td>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body govuk-body-xs">

                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Brought forward cumulative surplus / deficit </td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric current-col">19,885</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">29,371</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">34,936</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">37,031</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">37,595</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Total income<br/>BFR Line 298</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric current-col">130,329</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">140,860</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">147,954</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">150,523</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">152,143</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">In year surplus / deficit<br/>BFR Line 400</td>
                                <td scope="row" class="govuk-table__cell  govuk-table__header--numeric current-col">9,486</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">5,565</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">2,095</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">564</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">
                                    <span class="negative">-1,424</span></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Carried forward cumulative surplus / deficit</td>
                                <td scope="row" class="govuk-table__cell  govuk-table__header--numeric current-col">29,371</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">34,936</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">37,031</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">37,595</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">36,171</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Carried forward cumulative surplus / deficit as % of total income</td>
                                <td scope="row" class="govuk-table__cell  govuk-table__header--numeric current-col">22.5%</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">24.8%</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">25.0%</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">25.0%</td>
                                <td scope="row" class="govuk-table__cell govuk-table__header--numeric">23.8%</td>
                            </tr>
                        </tbody>
                    </table>

                     <h2 class="govuk-heading-m">Pupil information</h2>
                    <p class="govuk-body-s">Actuals from <a href="">last audit</a> submitted on 30 December 2021</p>
                    <table class="govuk-table">
                        <tbody class="govuk-table__body govuk-body-s">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell   govuk-!-width-one-third">Pupils</td>
                                <td scope="row" class="govuk-table__cell">18,241 (2020/21)</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">Pupil capacity</td>
                                <td scope="row" class="govuk-table__cell">68%</td>
                            </tr>
                        </tbody>
                    </table>

                     <table class="govuk-table govuk-!-margin-top-9">
                <caption class="govuk-table__caption govuk-table__caption--m">Recent reports</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Date created</th>
                        <th scope="col" class="govuk-table__header">Created by</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"><a href="/reporting/fha/report">Financial Health Assessment (FHA)</a></th>
                        <td class="govuk-table__cell">19 July 2022</td>
                        <td class="govuk-table__cell">Robert Banner</td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
                    </tr> 
                   
                </tbody>
            </table>
                </div>
            </div>
        {% endblock %}