{% macro appTrustSearch(idPrefix) %}
  <label class="govuk-label govuk-label--l" for="{{idPrefix}}-search">
  Search for a trust by name or reference number
</label>

  <label class="govuk-hint">
    Enter trust name, TRN, Group UID or UKPRN  
    <a href="#name-reference-help" class="help-icon modal-link">
      <span class="govuk-visually-hidden">Help with reference numbers</span>
      <span class="govuk-visually-hidden">Opens a dialog</span>
    </a>
  </a>
</label>
<div class="govuk-input__wrapper govuk-!-margin-top-4 dfe-autocomplete-wrapper--search">
  <div id="{{idPrefix}}-autocomplete-container"></div>
  <input type="hidden" id="{{idPrefix}}-uid" name="uid"/>
  <button class="govuk-button" data-module="govuk-button" type="submit">
    Search
  </button>
</div>
{% endmacro %}