{% macro appTrustSearchSelect(trusts) %}


  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
    var selectEl = document.querySelector('#search')
    var inputValue = result => {
      if (result) {
        const name = result.split(' | ')
        return name[0]
      }
    }
    var suggestion = result => {
      if (result) {
        const name = result.split(' | ')
        if (name[1]) {
          return name[0] && name[0] + '<span class="autocomplete__option-hint">' + name[1] + '</span>'
        } else {
          return result && result;
        }
      }
    }
    accessibleAutocomplete({
      element: document.querySelector('#app-autocomplete-container'),
      id: 'search', // To match it to the existing <label>.
      source: trusts,
      displayMenu: 'overlay',
      templates: {
        inputValue,
        suggestion
      }
    })
  </script>
{% endmacro %}