{% macro appTrustSearchSelect(trusts) %}
 <label class="govuk-label govuk-label--m" for="more-detail">
                      Search for a trust by name or reference number:
                    </label>

<label class="govuk-hint">
                    Enter trust name, TRN, Group UID or UKPRN  
                <a href="#name-reference-help" class="help-icon modal-link">
                            <span class="govuk-visually-hidden">Help with reference numbers</span>
                                <span class="govuk-visually-hidden">Opens a dialog</span>

                        </a>

                        </a>
                        
                        
                         </label>

<div class="govuk-input__wrapper govuk-!-margin-top-2 dfe-autocomplete-wrapper--search">
     
      <select name="search" id="search">
          <option value=""></option>
        {% for trust in trusts %}
          <option value="{{trust.uid}}">{{ trust.name }} | {{ trust.trustDetails.address }}</option>
        {% endfor %}
      </select>

     <button class="govuk-button" data-module="govuk-button" type="submit" id="search"  >
                    Search
                  </button>
  </div>
















  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
    var selectEl = document.querySelector('#search')
    var inputValue = result => {
      if (result) {
        const name = result.split(' | ')
        return name[0]
      }
    }
    var suggestion = result => {
      if (result) {
        const name = result.split(' | ')
        if (name[1]) {
          return name[0] && name[0] + '<span class="autocomplete__option-hint">' + name[1] + '</span>'
        } else {
          return result && result;
        }
      }
    }
    accessibleAutocomplete.enhanceSelectElement({
      autoselect: true, 
      defaultValue: '', 
      minLength: 2, 
      selectElement: selectEl,
      displayMenu: 'overlay',
      templates: {
        inputValue,
        suggestion
      }
    })
  </script>
{% endmacro %}