{% extends "./layouts/trust.html" %}
{% set current_page = "governance" %} 
{% set title = "Governance" %}
{% set pageSection = "About the trust" %}

{% block pageContent %}
  <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
    {{ govukInsetText({
      html: '<a class="govuk-link" href="#">View this trust on Companies House officer information (opens in new tab)</a>'
    }) }}

    <section class="govuk-!-margin-bottom-9">
      {{ govukTable({
        caption: "Present",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Full name"
          },
          {
            text: "Trust role"
          },
          {
            text: "Date appointed"
          },
          {
            text: "Term end"
          }
        ],
        rows: data.governanceRows.present
      }) }}

      {{ govukDetails({
        summaryHtml: '<span>Data source</span> <span>(last updated 21 December 2021)</span>',
        html: '
          <dl class="dfe-data-source-list">
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Data source:</dt>
              <dd>Get information about schools</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Last updated:</dt>
              <dd>21 December 2021</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Next scheduled update:</dt>
              <dd>21 January 2022</dd>
            </div>
          </dl>
        '
      }) }}
    </section>
    <section class="govuk-!-margin-bottom-9">
      {{ govukTable({
        caption: "Members",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Full name"
          },
          {
            text: "Trust role"
          },
          {
            text: "Date appointed"
          },
          {
            text: "Term end"
          }
        ],
        rows: data.governanceRows.members
      }) }}

      {{ govukDetails({
        summaryHtml: '<span>Data source</span> <span>(last updated 21 December 2021)</span>',
        html: '
          <dl class="dfe-data-source-list">
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Data source:</dt>
              <dd>Get information about schools</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Last updated:</dt>
              <dd>21 December 2021</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Next scheduled update:</dt>
              <dd>21 January 2022</dd>
            </div>
          </dl>
        '
      }) }}
    </section>
    <section class="govuk-!-margin-bottom-9">
      {{ govukTable({
        caption: "Previous",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Full name"
          },
          {
            text: "Trust role"
          },
          {
            text: "Date appointed"
          },
          {
            text: "Term end"
          }
        ],
        rows: data.governanceRows.past
      }) }}

      {{ govukDetails({
        summaryHtml: '<span>Data source</span> <span>(last updated 21 December 2021)</span>',
        html: '
          <dl class="dfe-data-source-list">
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Data source:</dt>
              <dd>Get information about schools</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Last updated:</dt>
              <dd>21 December 2021</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Next scheduled update:</dt>
              <dd>21 January 2022</dd>
            </div>
          </dl>
        '
      }) }}
    </section>
  </div>
{% endblock %}
