{% extends "layouts/trust.html" %}

{% block pageTitle %}
Trust not found – {{ serviceName }}
{% endblock %}

{% block main %}
  <main id="main-content">
    <div class="govuk-main-wrapper">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p>Could not find "{{ data.search }}"</p>
            <p>Try searching for one of these:</p>
            <ul>
              {% for trust in data.trusts %}
                <li>{{ trust.uid }} - {{ trust.name }}</li>
              {% endfor %}
            </ul>

            <a href="./home">Go back to Search page</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}