{% extends "./layouts/trust.html" %}
{% set current_page = "trust-overview" %}

{% block pageContent %}
  <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
    <div class="dfe-grid-2">
      <article class="dfe-card dfe-grid-2__item">
        {{ govukTable({
          attributes: {
            'data-module': 'moj-sortable-table'
          },
          caption: "Ofsted data",
          captionClasses: "govuk-table__caption--m",
          head: [
            {
              text: "Rating",
              attributes: {
                "aria-sort": "ascending"
              }
            },
            {
              text: "Number of schools",
              attributes: {
                "aria-sort": "none"
              },
              format: "numeric"
            }
          ],
          rows: [
            [
              {
                text: 'Outstanding',
                attributes: {
                  "data-sort-value": "1"
                }
              },
              {
                text: "3",
                format: "numeric"
              }
            ],
            [
              {
                text: 'Good',
                attributes: {
                  "data-sort-value": "2"
                }
              },
              {
                text: "5",
                format: "numeric"
              }
            ],
            [
              {
                text: 'Requires improvement',
                attributes: {
                  "data-sort-value": "3"
                }
              },
              {
                text: "2",
                format: "numeric"
              }
            ],
            [
              {
                text: 'Inadequate',
                attributes: {
                  "data-sort-value": "4"
                }
              },
              {
                text: "3",
                format: "numeric"
              }
            ],
            [
              {
                text: 'Not yet inspected',
                attributes: {
                  "data-sort-value": "5"
                }
              },
              {
                text: "4",
                format: "numeric"
              }
            ]
          ]
        }) }}
      </article>
      <article class="dfe-card dfe-grid-2__item">
        {{ govukTable({
          attributes: {
            'data-module': 'moj-sortable-table'
          },
          caption: "Free school meals %",
          captionClasses: "govuk-table__caption--m",
          head: [
            {
              text: "% banding",
              attributes: {
                "aria-sort": "ascending"
              }
            },
            {
              text: "Number of schools",
              attributes: {
                "aria-sort": "none"
              },
              format: "numeric"
            }
          ],
          rows: [
            [
              {
                text: "0 - 10%",
                attributes: {
                  "data-sort-value": "1"
                }
              },
              {
                text: "2",
                format: "numeric"
              }
            ],
            [
              {
                text: "10 - 30%",
                attributes: {
                  "data-sort-value": "2"
                }
              },
              {
                text: "2",
                format: "numeric"
              }
            ],
            [
              {
                text: "30 - 50%",
                attributes: {
                  "data-sort-value": "3"
                }
              },
              {
                text: "3",
                format: "numeric"
              }
            ],
            [
              {
                text: "50 - 70%",
                attributes: {
                  "data-sort-value": "4"
                }
              },
              {
                text: "7",
                format: "numeric"
              }
            ],
            [
              {
                text: "70 - 100%",
                attributes: {
                  "data-sort-value": "5"
                }
              },
              {
                text: "3",
                format: "numeric"
              }
            ]
          ]
        }) }}
      </article>
    </div>
  </div>

{% endblock %}
