{% extends "layouts/trust.html" %}
{% set current_page = "academies-in-this-trust" %}

{% block pageContent %}
  <h2 class="govuk-heading-l govuk-!-margin-top-7">Academies in trust summary</h2>
  <div class="dfe-card">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Trust pupil numbers</h3>
    <dl class="govuk-grid-row govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-one-half">
        <div class="dfe-key-value-list">
          <dt class="govuk-body govuk-!-margin-0">Number of academies in trust</dt>
          <dd class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0">17</dd>

          <dt class="govuk-body govuk-!-margin-0">Trust actual pupil numbers</dt>
          <dd class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0">15,856</dd>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="dfe-key-value-list">
          <dt class="govuk-body govuk-!-margin-0">Trust capacity</dt>
          <dd class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0">16,256</dd>

          <dt class="govuk-body govuk-!-margin-0">Trust capacity % full</dt>
          <dd class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0">89%</dd>
        </div>
      </div>
    </dl>
  </div>
{% endblock %}

{% block pageContentColumnOverride %}
  {%- from "govuk/components/table/macro.njk" import govukTable -%}

  {{ govukTable({
    attributes: {
      'data-module': 'moj-sortable-table'
    },
    head: [
      {
        text: "Establishment name",
        attributes: {
          "aria-sort": "ascending"
        }
      },
      {
        text: "Local authority",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Phase",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Age range",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
          text: "Capacity",
          attributes: {
          "aria-sort": "none"
          }
      },
      {
          text: "Pupil numbers",
          attributes: {
          "aria-sort": "none"
          }
      },
      {
          text: "Date joined",
          attributes: {
          "aria-sort": "none"
          }
      },
      {
          text: "Current ofsted rating",
          attributes: {
          "aria-sort": "none"
          }
      },
      {
          text: "Previous ofsted rating",
          attributes: {
          "aria-sort": "none"
          }
      }
    ],
    rows: [
      [
        {
          html: '<a href="">Abbey Grange Church of England Academy</a>',
          attributes: {
            "data-sort-value": "Abbey Grange Church of England Academy"
          }
        },
        {
          text: "Leeds"
        },
        {
          text: "Secondary"
        },
        {
          text: "11 - 18",
          attributes: {
            "data-sort-value": "1118"
          }
        },
        {
          text: "1,152",
          attributes: {
            "data-sort-value": "1152"
          }
        },
        {
          text: "1,607",
          attributes: {
            "data-sort-value": "1607"
          }
        },
        {
          text: "1 August 2011",
          attributes: {
            "data-sort-value": "08-01-2011"
          }
        },
        {
          html: "<b>Good</b><br>9 Feb 2021"
        },
        {
          html: "<b>Requires Improvement</b><br>7 May 2009"
        }
      ],
      [
        {
          html: '<a href="">Bishop Young Church of England Academy</a>',
          attributes: {
            "data-sort-value": "Bishop Young Church of England Academy"
          }
        },
        {
          text: "Calderdale"
        },
        {
          text: "Secondary"
        },
        {
          text: "11 - 16",
          attributes: {
            "data-sort-value": "1116"
          }
        },
        {
          text: "900"
        },
        {
          text: "683"

        },
        {
          text: "1 May 2007",
          attributes: {
            "data-sort-value": "05-01-2007"
          }
        },
        {
          html: "<b>Requires Improvement</b><br>22 Sept 2021"
        },
        {
          html: "<b>Inadequate</b><br>30 Oct 2015"
        }
      ],
      [
        {
          html: '<a href="">Christ Church Upper Armley Church of England Primary School</a>',
          attributes: {
            "data-sort-value": "Christ Church Upper Armley Church of England Primary School"
          }
        },
        {
          text: "Leeds"
        },
        {
          text: "Secondary"
        },
        {
          text: "4 - 11",
          attributes: {
            "data-sort-value": "411"
          }
        },
        {
          text: "210"
        },
        {
          text: "173"

        },
        {
          text: "1 Sep 2018",
          attributes: {
            "data-sort-value": "09-01-2018"
          }
        },
        {
          html: "<b>Inadequate</b><br>13 Oct 2017"
        },
        {
          html: "<b>Good</b><br>13 Oct 2017"
        }
      ],
      [
        {
          html: '<a href="">Holy Trinity Church of England Academy</a>',
          attributes: {
            "data-sort-value": "Holy Trinity Church of England Academy"
          }
        },
        {
          text: "Leeds"
        },
        {
          text: "Secondary"
        },
        {
          text: "11 - 18",
          attributes: {
            "data-sort-value": "1118"
          }
        },
        {
          text: "1,152",
          attributes: {
            "data-sort-value": "1152"
          }
        },
        {
          text: "1,607",
          attributes: {
            "data-sort-value": "1607"
          }
        },
        {
          text: "1 August 2011",
          attributes: {
            "data-sort-value": "08-01-2011"
          }
        },
        {
          html: "<b>Good</b><br>9 Feb 2021"
        },
        {
          html: "<b>Requires Improvement</b><br>7 May 2009"
        }
      ],
      [
        {
          html: '<a href="">Lightcliffe Academy</a>',
          attributes: {
            "data-sort-value": "Lightcliffe Academy"
          }
        },
        {
          text: "Calderdale"
        },
        {
          text: "Secondary"
        },
        {
          text: "11 - 16",
          attributes: {
            "data-sort-value": "1116"
          }
        },
        {
          text: "900"
        },
        {
          text: "683"

        },
        {
          text: "1 May 2007",
          attributes: {
            "data-sort-value": "05-01-2007"
          }
        },
        {
          html: "<b>Requires Improvement</b><br>22 Sept 2021"
        },
        {
          html: "<b>Inadequate</b><br>30 Oct 2015"
        }
      ],
      [
        {
          html: '<a href="">Lightcliffe C of E Primary School</a>',
          attributes: {
            "data-sort-value": "Lightcliffe C of E Primary School"
          }
        },
        {
          text: "Leeds"
        },
        {
          text: "Secondary"
        },
        {
          text: "4 - 11",
          attributes: {
            "data-sort-value": "411"
          }
        },
        {
          text: "210"
        },
        {
          text: "173"

        },
        {
          text: "1 Sep 2018",
          attributes: {
            "data-sort-value": "09-01-2018"
          }
        },
        {
          html: "<b>Inadequate</b><br>13 Oct 2017"
        },
        {
          html: "<b>Good</b><br>13 Oct 2017"
        }
      ],
      [
        {
          html: '<a href="">St Chad’s Church of England Primary School</a>',
          attributes: {
            "data-sort-value": "St Chad’s Church of England Primary School"
          }
        },
        {
          text: "Leeds"
        },
        {
          text: "Secondary"
        },
        {
          text: "11 - 18",
          attributes: {
            "data-sort-value": "1118"
          }
        },
        {
          text: "1,152",
          attributes: {
            "data-sort-value": "1152"
          }
        },
        {
          text: "1,607",
          attributes: {
            "data-sort-value": "1607"
          }
        },
        {
          text: "1 August 2011",
          attributes: {
            "data-sort-value": "08-01-2011"
          }
        },
        {
          html: "<b>Good</b><br>9 Feb 2021"
        },
        {
          html: "<b>Requires Improvement</b><br>7 May 2009"
        }
      ],
      [
        {
          html: '<a href="">Lightcliffe Academy</a>',
          attributes: {
            "data-sort-value": "Lightcliffe Academy"
          }
        },
        {
          text: "Calderdale"
        },
        {
          text: "Secondary"
        },
        {
          text: "11 - 16",
          attributes: {
            "data-sort-value": "1116"
          }
        },
        {
          text: "900"
        },
        {
          text: "683"

        },
        {
          text: "1 May 2007",
          attributes: {
            "data-sort-value": "05-01-2007"
          }
        },
        {
          html: "<b>Requires Improvement</b><br>22 Sept 2021"
        },
        {
          html: "<b>Inadequate</b><br>30 Oct 2015"
        }
      ],
      [
        {
          html: '<a href="">Lightcliffe C of E Primary School</a>',
          attributes: {
            "data-sort-value": "Lightcliffe C of E Primary School"
          }
        },
        {
          text: "Leeds"
        },
        {
          text: "Secondary"
        },
        {
          text: "4 - 11",
          attributes: {
            "data-sort-value": "411"
          }
        },
        {
          text: "210"
        },
        {
          text: "173"

        },
        {
          text: "1 Sep 2018",
          attributes: {
            "data-sort-value": "09-01-2018"
          }
        },
        {
          html: "<b>Inadequate</b><br>13 Oct 2017"
        },
        {
          html: "<b>Good</b><br>13 Oct 2017"
        }
      ],
      [
        {
          html: '<a href="">St Chad’s Church of England Primary School</a>',
          attributes: {
            "data-sort-value": "St Chad’s Church of England Primary School"
          }
        },
        {
          text: "Leeds"
        },
        {
          text: "Secondary"
        },
        {
          text: "11 - 18",
          attributes: {
            "data-sort-value": "1118"
          }
        },
        {
          text: "1,152",
          attributes: {
            "data-sort-value": "1152"
          }
        },
        {
          text: "1,607",
          attributes: {
            "data-sort-value": "1607"
          }
        },
        {
          text: "1 August 2011",
          attributes: {
            "data-sort-value": "08-01-2011"
          }
        },
        {
          html: "<b>Good</b><br>9 Feb 2021"
        },
        {
          html: "<b>Requires Improvement</b><br>7 May 2009"
        }
      ],
      [
        {
          html: '<a href="">Holy Trinity Church of England Academy</a>',
          attributes: {
            "data-sort-value": "Holy Trinity Church of England Academy"
          }
        },
        {
          text: "Calderdale"
        },
        {
          text: "Secondary"
        },
        {
          text: "11 - 16",
          attributes: {
            "data-sort-value": "1116"
          }
        },
        {
          text: "900"
        },
        {
          text: "683"

        },
        {
          text: "1 May 2007",
          attributes: {
            "data-sort-value": "05-01-2007"
          }
        },
        {
          html: "<b>Requires Improvement</b><br>22 Sept 2021"
        },
        {
          html: "<b>Inadequate</b><br>30 Oct 2015"
        }
      ],
      [
        {
          html: '<a href="">Lightcliffe C of E Primary School</a>',
          attributes: {
            "data-sort-value": "Lightcliffe C of E Primary School"
          }
        },
        {
          text: "Leeds"
        },
        {
          text: "Secondary"
        },
        {
          text: "4 - 11",
          attributes: {
            "data-sort-value": "411"
          }
        },
        {
          text: "210"
        },
        {
          text: "173"

        },
        {
          text: "1 Sep 2018",
          attributes: {
            "data-sort-value": "09-01-2018"
          }
        },
        {
          html: "<b>Inadequate</b><br>13 Oct 2017"
        },
        {
          html: "<b>Good</b><br>13 Oct 2017"
        }
      ]
            
    ]
  }) }}

  <div class="govuk-grid-column-full">

    <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      <a class="govuk-link" href="#">Is there anything wrong with this page?</a>
    </div>

  </div>

{% endblock %}

{# Override anything wrong link block because it is manually included above #}
{% block anythingWrong %}{% endblock %}
