{% extends "./layouts/trust.html" %}
{% set current_page = "cases-and-concerns" %}

{% block pageContent %}
  <div class="govuk-!-margin-top-7 govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-l">Cases and concerns</h2>

    <section class="govuk-!-margin-bottom-9">
      {{ govukTable({
        caption: "Open DaRT cases and concerns",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Name"
          },
          {
            text: "Lead contact"
          },
          {
            text: "Description"
          },
          {
            text: "Date last updated"
          },
          {
            text: "Age (In months)",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              html: '<a href="#">Governance and compliance</a>'
            },
            {
              text: "Jen Hadfield"
            },
            {
              text: "Trust not displaying safeguarding policies on website"
            },
            {
              text: "4 January 2023"
            },
            {
              text: "1.6",
              format: "numeric"
            }
          ],
          [
            {
              html: '<a href="#">Compliance</a>'
            },
            {
              text: "Jen Hadfield"
            },
            {
              text: "A longer description of a compliance concern that has been raised against the trust due to various reasons."
            },
            {
              text: "14 November 2022"
            },
            {
              text: "7.6",
              format: "numeric"
            }
          ],
          [
            {
              html: '<a href="#">Governance and compliance</a>'
            },
            {
              text: "James Cheetham"
            },
            {
              text: "Governance concern"
            },
            {
              text: "25 October 2021"
            },
            {
              text: "12.2",
              format: "numeric"
            }
          ]
        ]
      }) }}

      {{ govukDetails({
        summaryHtml: '<span>Data source</span> <span>(last updated 21 December 2021)</span>',
        html: '
          <dl class="dfe-data-source-list">
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Data source:</dt>
              <dd>Get information about schools</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Last updated:</dt>
              <dd>21 December 2021</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Next scheduled update:</dt>
              <dd>21 January 2022</dd>
            </div>
          </dl>
        '
      }) }}
    </section>
    <section class="govuk-!-margin-bottom-9">
      {{ govukTable({
        caption: "Open KIM cases and concerns",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Name"
          },
          {
            text: "Lead contact"
          },
          {
            text: "Description"
          },
          {
            text: "Date last updated"
          },
          {
            text: "Age (In months)",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              html: '<a href="#">Warning notice</a>'
            },
            {
              text: "Jen Hadfield"
            },
            {
              text: "Warning notice"
            },
            {
              text: "4 January 2023"
            },
            {
              text: "12.6",
              format: "numeric"
            }
          ],
          [
            {
              html: '<a href="#">Transfer</a>'
            },
            {
              text: "Jen Hadfield"
            },
            {
              text: "Transfer"
            },
            {
              text: "14 November 2022"
            },
            {
              text: "7.6",
              format: "numeric"
            }
          ],
          [
            {
              html: '<a href="#">Warning notice</a>'
            },
            {
              text: "James Cheetham"
            },
            {
              text: "Warning notice"
            },
            {
              text: "25 October 2021"
            },
            {
              text: "3.2",
              format: "numeric"
            }
          ]
        ]
      }) }}

      {{ govukDetails({
        summaryHtml: '<span>Data source</span> <span>(last updated 21 December 2021)</span>',
        html: '
          <dl class="dfe-data-source-list">
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Data source:</dt>
              <dd>Get information about schools</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Last updated:</dt>
              <dd>21 December 2021</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Next scheduled update:</dt>
              <dd>21 January 2022</dd>
            </div>
          </dl>
        '
      }) }}
    </section>
    <section class="govuk-!-margin-bottom-9">
      {{ govukTable({
        caption: "Closed cases and concerns",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Name"
          },
          {
            text: "Lead contact"
          },
          {
            text: "Type"
          },
          {
            text: "Date closed"
          }
        ],
        rows: [
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "Jen Hadfield"
            },
            {
              text: "Concern"
            },
            {
              text: "4 January 2023"
            }
          ],
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "Rachel Winter"
            },
            {
              text: "Safeguarding"
            },
            {
              text: "14 November 2022"
            }
          ],
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "James Cheetham"
            },
            {
              text: "SRMA"
            },
            {
              text: "25 October 2021"
            }
          ],
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "Jen Hadfield"
            },
            {
              text: "Concern"
            },
            {
              text: "4 January 2023"
            }
          ],
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "Rachel Winter"
            },
            {
              text: "SRMA"
            },
            {
              text: "14 November 2022"
            }
          ],
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "James Cheetham"
            },
            {
              text: "Safeguarding"
            },
            {
              text: "25 October 2021"
            }
          ],
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "Jen Hadfield"
            },
            {
              text: "Safeguarding"
            },
            {
              text: "4 January 2023"
            }
          ],
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "Rachel Winter"
            },
            {
              text: "Safeguarding"
            },
            {
              text: "14 November 2022"
            }
          ],
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "James Cheetham"
            },
            {
              text: "Concern"
            },
            {
              text: "25 October 2021"
            }
          ],
          [
            {
              html: '<a href="#">ESFA Concern</a>'
            },
            {
              text: "Jen Hadfield"
            },
            {
              text: "SRMA"
            },
            {
              text: "4 January 2023"
            }
          ]
         ]
      }) }}

      {{ govukDetails({
        summaryHtml: '<span>Data source</span> <span>(last updated 21 December 2021)</span>',
        html: '
          <dl class="dfe-data-source-list">
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Data source:</dt>
              <dd>Get information about schools</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Last updated:</dt>
              <dd>21 December 2021</dd>
            </div>
            <div class="dfe-data-source-list__item">
              <dt class="dfe-data-source-list__title">Next scheduled update:</dt>
              <dd>21 January 2022</dd>
            </div>
          </dl>
        '
      }) }}
    </section>
  </div>
{% endblock %}