{% extends "layouts/trust.html" %}
{% set current_page = "financial-documents" %} 

{% block pageContent %}
  <section class="govuk-!-margin-top-7 govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-9">Financial Documents</h2>

    <div class="dfe-grid-2-column">
      <h2 class="govuk-heading-m">Financial statements</h2>
      <dl class="govuk-summary-list dfe-summary-list-narrow govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2021/22</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2021/22</span> statements (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2020/21</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2020/21</span> statements (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2019/20</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2019/20</span> statements (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2018/19</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2018/19</span> statements (opens in a new tab)
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Management letters</h2>
      <dl class="govuk-summary-list dfe-summary-list-narrow govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2021/22</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2021/22</span> letters (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2020/21</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2020/21</span> letters (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2019/20</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2019/20</span> letters (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2018/19</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2018/19</span> letters (opens in a new tab)
            </a>
          </dd>
        </div>
      </dl>
    </div>
    <div class="dfe-grid-2-column">
      <h2 class="govuk-heading-m">School resource management self assessment tool checklist</h2>
      <dl class="govuk-summary-list dfe-summary-list-narrow govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2021/22</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2021/22</span> checklist (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2020/21</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2020/21</span> checklist (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2019/20</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2019/20</span> checklist (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2018/19</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2018/19</span> checklist (opens in a new tab)
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Internal audit reports</h2>
      <dl class="govuk-summary-list dfe-summary-list-narrow govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2021/22</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2021/22</span> reports (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2020/21</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2020/21</span> reports (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2019/20</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2019/20</span> reports (opens in a new tab)
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2018/19</dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="#">
              View <span class="govuk-visually-hidden">2018/19</span> reports (opens in a new tab)
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </section>
  
{% endblock %}
