{% extends "layouts/main.html" %}

{% block pageTitle %}
Find information about a Trust or Academy – {{ serviceName }}
{% endblock %}

{% block main %}

  <main id="main-content">
    <div class="dfe-callout">
      <div class="govuk-grid-row govuk-width-container">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Find information about a Trust or Academy</h1>
          <p class="govuk-body">You can search for and download information on establishments, establishment groups (such as academies,
        trusts or federation).</p>
          <div >
            <form class="govuk-form-group" action="/version-1/trust-details" method="get">
              <div class="govuk-input__wrapper">
              <label class="dfeuk-u-visually-hidden" for="search">Search for a Trust or Academy by name, URN, location or local authority</label>
                <input class="govuk-input dfe-search-input" id="search" placeholder="Search by name, URN, location or local authority">
                <button class="govuk-button dfe-black-button dfe-inline-button" data-module="govuk-button" type="submit">
                  <span class="dfeuk-u-visually-hidden">Search</span>
                  <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                    <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--inverse">Contact the TRAMS team</a> with any comments or questions</p>
        </div>
      </div>
    </div>

    <div class="govuk-width-container">
      <section class="govuk-grid-row govuk-!-margin-top-9">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Related internal systems</h2>
          <p class="govuk-body">Use these services to find related information and other services provided by the Department for Education (DfE):</p>
          <dl class="dfe-grid-3">
            <div class="dfe-card">
              <dt class="dfe-heading-lite-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Data and reporting tool (DaRT)</a></dt>
              <dd class="govuk-body">Search to find and download information about schools, colleges, educational organisations and governors in England.</dd>
            </div>
            <div class="dfe-card">
              <dt class="dfe-heading-lite-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Knowledge Information Management (KIM)</a></dt>
              <dd class="govuk-body">Search to find and download information about schools, colleges, educational organisations and governors in England.</dd>
            </div>
            <div class="dfe-card">
              <dt class="dfe-heading-lite-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Regions Group data tool</a></dt>
              <dd class="govuk-body">Search to find and download information about schools, colleges, educational organisations and governors in England.</dd>
            </div>
          </dl>
        </div>
      </section>
      <section class="govuk-grid-row  govuk-!-margin-top-7 govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Related public facing services</h2>
          <p class="govuk-body">Use these services to find related information and other services provided by the Department for Education (DfE):</p>
          <dl class="dfe-grid-3">
            <div class="dfe-card">
              <dt class="dfe-heading-lite-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Get information about schools</a></dt>
              <dd class="govuk-body">Search to find and download information about schools, colleges, educational organisations and governors in England.</dd>
            </div>
            <div class="dfe-card">
              <dt class="dfe-heading-lite-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Ofsted - Find an inspection report</a></dt>
              <dd class="govuk-body">You can find reports for schools, colleges, childminders, nurseries, children’s homes and more in England.</dd>
            </div>
            <div class="dfe-card">
              <dt class="dfe-heading-lite-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Statistics at DfE</a></dt>
              <dd class="govuk-body">Find out more about latest news, announcements, forthcoming releases and ad hoc publications, as well as related education statistics.</dd>
            </div>
            <div class="dfe-card">
              <dt class="dfe-heading-lite-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Schools financial benchmarking</a></dt>
              <dd class="govuk-body">Compare your school's income and expenditure with other schools in England.</dd>
            </div>
            <div class="dfe-card">
              <dt class="dfe-heading-lite-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Find and compare schools in England</a></dt>
              <dd class="govuk-body">Search for and check the performance of primary, secondary and special needs schools and colleges.</dd>
            </div>
          </dl>
        </div>
      </section>
      <hr class="govuk-section-break govuk-section-break--visible">
      <section class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Contact us</h2>
          <p class="govuk-body">The Trust and Academy Management Information Service is operated by the Department for Education (DfE).</p>
          <p class="govuk-body">If you need help and support or have a question please contact:</p>
          <p class="govuk-body govuk-!-font-weight-bold">Trust and Academy Management Information</p>
          <p class="govuk-body">Email <a href="mailto:TRAMS@education.gov.uk">TRAMS@education.gov.uk</a></p>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
