{% extends "layouts/trust.html" %}

{% block pageContent %}
  <div class="dfe-card">
    <dl class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <dt class="govuk-heading-s govuk-!-margin-bottom-1">Trust relationship manager:</dt>
        <dd class="govuk-body govuk-!-margin-bottom-6">
          <p class="govuk-!-margin-bottom-1">James Smith</p>
          <p class="govuk-!-margin-bottom-1">james.smith@education.gov.uk</p>
        </dd>
        <dt class="govuk-heading-s govuk-!-margin-bottom-1">Trust relationship manager:</dt>
        <dd class="govuk-body govuk-!-margin-bottom-0">
          <p class="govuk-!-margin-bottom-1">James Smith</p>
          <p class="govuk-!-margin-bottom-1">james.smith@education.gov.uk</p>
        </dd>
      </div>
      <div class="govuk-grid-column-one-half">
        <dt class="govuk-heading-s govuk-!-margin-bottom-1">Trust relationship manager:</dt>
        <dd class="govuk-body govuk-!-margin-bottom-6">
          <p class="govuk-!-margin-bottom-1">James Smith</p>
          <p class="govuk-!-margin-bottom-1">james.smith@education.gov.uk</p>
        </dd>
      </dl>
  </div>
{% endblock %}
