@import "node_modules/govuk-frontend/govuk/all";
@import "./variables";
@import "./mixins";

.version-3 {
  .dfe-autocomplete-wrapper--search {
    &>div {
      width: 100%;
    }

    .autocomplete__input {
      @extend .govuk-input;
      border-color: govuk-colour("black");
      height: 2.5rem;
      background-color: govuk-colour("white");
  
    }

    .autocomplete__option-hint {
      display: block;
      @include govuk-font(16);
      color: $govuk-secondary-text-colour;
    }

    .autocomplete__option--focused,
    .autocomplete__option:hover {

      .autocomplete__option-hint {
        color: govuk-colour("white");
      }
    }

  }

  .dfe-image-button {
    @extend .govuk-button;
    display: flex;
    gap: 10px;
    align-items: center;
    background: none;
    box-shadow: none;
    border: transparent;
    color: $govuk-link-colour;

    &:hover {
      background-color: $govuk-link-colour;
    }

    .dfe-image-button__image {
      height: 20px;
      fill: currentColor;
    }
  }

  .dfe-search-button {
    margin-left: 10px;
  }
  
  .dfe-banner {
    @include govuk-responsive-padding(5, "top");
    @include govuk-responsive-padding(5, "bottom");
    background-color: $dfe-blue-light;

    .govuk-heading-l,
    .govuk-heading-xl{color: $dfe-blue;}
    .govuk-body {color: black;}
 

    &.dfe-banner--l {
      @include govuk-responsive-padding(9, "top");
      @include govuk-responsive-padding(8, "bottom");
    }

  }

  .dfe-card {
    @include govuk-responsive-padding(5);
    background-color: govuk-colour("light-grey");

    &--two-columns {
      .dfe-card__content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3.75rem;
      }
      
      .dfe-card__column {
        flex: 1 1 45%;
      }
    }

    &--blue {
      background-color: $accent;

      .govuk-heading-l,
      .govuk-body {
        color: govuk-colour("white");
      }
    }
  }

  .dfe-side-nav {
    margin-left: -12px;

    .dfe-side-nav__list {
      @include govuk-responsive-margin(6, "bottom");
      list-style-type: none;
      padding: 0;
      margin-top: 0;
    }

    .dfe-side-nav__item {
      padding-left: 8px;
      padding-bottom: 8px;
      padding-top: 6px;
      box-sizing: content-box;
      border-left: 4px solid transparent;
    }

    .dfe-side-nav__item--current {
      background-color: $dfe-grey-light;
      border-color: $dfe-blue-secondary;
      font-weight: bold;
    }

    .dfe-side-nav__heading {
      @extend .dfe-side-nav__item;
      font-weight: normal;
      font-size: 1.1857rem;
      color: $dfe-grey;
      margin: 0;
    }

    .dfe-side-nav__link {
      text-decoration: none;
    }
  }

  .dfe-page-heading {
    .dfe-page-heading__title {
      @extend .govuk-heading-l;
      @include govuk-responsive-margin(3, "bottom");
    }

    .dfe-page-heading__detail {
      @include grid-2-row-variable-width(1.25rem);
    }
  }

  .dfe-data-source-list {
    .dfe-data-source-list__item {
      @include grid-2-row-variable-width(0.625rem);
      margin-bottom: 0.625rem;
    }

    .dfe-data-source-list__title {
      font-weight: bold;
    }
  }

  .dfe-summary-list-narrow {
    .govuk-summary-list__key {
      @include govuk-media-query($from: tablet) {
        width: 20%;
      }
    }
  }

  .dfe-summary-list-statistics {
    &.gov-uk-summary-list, 
    .govuk-summary-list {
      width: auto;
      margin-bottom: 0;
    }

    .govuk-summary-list__key {
      @include govuk-media-query($from: tablet) {
        width: auto;
      }
    }
  }

  .dfe-phase-banner--no-border {
    &.govuk-phase-banner {
      border-bottom: none;
    }
  }
}
