@import "node_modules/govuk-frontend/govuk/all";
@import "./variables";
@import "./mixins";

.version-2 {
  .fiat-black-button {
    background-color: govuk-colour("black");
    color: govuk-colour("white");
    box-shadow: none;

    &:hover {
      background-color: $fiat-blue;
    }
  }

  .fiat-inline-button {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 0;
  }

  .fiat-image-button {
    @extend .govuk-button;
    display: flex;
    gap: 10px;
    align-items: center;
    background: none;
    box-shadow: none;
    border: transparent;
    color: $govuk-link-colour;

    &:hover {
      background-color: $govuk-link-colour;
    }

    .fiat-image-button__image {
      height: 20px;
      fill: currentColor;
    }
  }

  .fiat-search-input {
    border-color: transparent;
    height: 3.125rem;
  }

  .fiat-banner {
    @include govuk-responsive-padding(5, "top");
    @include govuk-responsive-padding(5, "bottom");
    background-color: $accent;

    .govuk-heading-l,
    .govuk-heading-xl,
    .govuk-body {
      color: govuk-colour("white");
    }

    &.fiat-banner--l {
      @include govuk-responsive-padding(9, "top");
      @include govuk-responsive-padding(8, "bottom");
    }

  }

  .fiat-card {
    @include govuk-responsive-padding(5);
    background-color: govuk-colour("light-grey");

    &--two-columns {
      .fiat-card__content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3.75rem;
      }
      
      .fiat-card__column {
        flex: 1 1 45%;
      }
    }

    &--blue {
      background-color: $accent;

      .govuk-heading-l,
      .govuk-body {
        color: govuk-colour("white");
      }
    }
  }

  .fiat-side-nav {
    margin-left: -12px;

    .fiat-side-nav__list {
      @include govuk-responsive-margin(6, "bottom");
      list-style-type: none;
      padding: 0;
      margin-top: 0;
    }

    .fiat-side-nav__item {
      padding-left: 8px;
      padding-bottom: 8px;
      padding-top: 6px;
      box-sizing: content-box;
      border-left: 4px solid transparent;
    }

    .fiat-side-nav__item--current {
      background-color: $fiat-grey-light;
      border-color: $fiat-blue-secondary;
      font-weight: bold;
    }

    .fiat-side-nav__heading {
      @extend .fiat-side-nav__item;
      font-weight: normal;
      font-size: 1.1857rem;
      color: $fiat-grey;
      margin: 0;
    }

    .fiat-side-nav__link {
      text-decoration: none;
    }
  }

  .fiat-page-heading {
    .fiat-page-heading__title {
      @extend .govuk-heading-l;
      @include govuk-responsive-margin(3, "bottom");
    }

    .fiat-page-heading__detail {
      @include grid-2-row-variable-width(1.25rem);
    }
  }

  .fiat-data-source-list {
    .fiat-data-source-list__item {
      @include grid-2-row-variable-width(0.625rem);
      margin-bottom: 0.625rem;
    }

    .fiat-data-source-list__title {
      font-weight: bold;
    }
  }

  .fiat-summary-list-narrow {
    .govuk-summary-list__key {
      @include govuk-media-query($from: tablet) {
        width: 20%;
      }
    }
  }

  .fiat-summary-list-statistics {
    &.gov-uk-summary-list, .govuk-summary-list {
      width: auto;
      margin-bottom: 0;
    }

    .govuk-summary-list__key {
      @include govuk-media-query($from: tablet) {
        width: auto;
      }
    }
  }

  .fiat-phase-banner--no-border {
    &.govuk-phase-banner {
      border-bottom: none;
    }
  }
}
