{% extends "./layouts/main.html" %}
{% set current_page = "search" %}
{% set title = "Search" %}

{% block content %}

<h1 class="govuk-heading-l">Search</h1>
<h2>{{data.searchResults.length}} results for "{{data.search}}" </h2>

<ul class="govuk-list">
  {% for trust in data.searchResults %}
  <li>
    <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="./trust-details/{{trust.uid}}" class="govuk-link">{{trust.name}}</a></h3>
    <p class="govuk-body govuk-!-margin-0"><b>Address: </b>{{trust.trustDetails.address}}</p>
    <p class="govuk-body govuk-!-margin-0"><b>Group ID/TRN:</b> {{trust.trustDetails.trustReferenceNumber}}</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><b>UID:</b> {{data.trust.uid}}</p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6">
  </li>
  {% endfor %}
</ul>

{% endblock %}
