{% extends "./layouts/trust.html" %}
{% from "./includes/contact.html" import contact %}
{% set current_page = "trust-contacts" %} 
{% set title = "Contacts" %}
{% set pageSection = "About the trust" %}

{% block pageContent %}
<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">

  {{ govukSummaryList({
    card: {
      title: {
        text: "DfE contacts"
      }
    },
    rows: [
        {
          key: {
            text: "Trust relationship manager"
          },
          value: {
            html: contact(data.trust.trustDetails.trustRelationshipManager)
          }
        },
        {
          key: {
            text: "Schools financial support and oversight (SFSO) lead"
          },
          value: {
            html: contact(data.trust.trustDetails.sfsoLead)
          }
        }
      ]
    }) }}
</section>
<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">

  {{ govukSummaryList({
    card: {
      title: {
        text: "Trust contacts"
      }
    },
      rows: data.trust.governance.present | formatTrustContacts
    }) }}
</section>
  {{ govukDetails({
        summaryHtml: '<span>Source and updates</span>',
        html: '
          <dl class="fiat-data-source-list">
            <div class="fiat-data-source-list__item">
              <dt class="fiat-data-source-list__title">DfE contacts, trust contacts: </dt>
              <dd>Regional Services Division</dd>
            </div>
            <div class="fiat-data-source-list__item">
              <dd>Last updated: 21 March 2023</dd>
            </div>
            <div class="fiat-data-source-list__item">
              <dd>Next scheduled update: 21 June 2023</dd>
            </div>
          </dl>
        '
      }) }}
{% endblock %}
