{% extends "version-1/layouts/main.html" %}

{% block pageTitle %}
Versions – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

<!--Remove the header links on the Prototype version page
   because these are only relevant within a prototype-->
{% block headerNavLinks %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }} Prototypes
    </h1>
    <p class="govuk-body-l">This is where the Department for Education Regional Services Division (RSD) TRust and
      Academies Management System (TRAMS) prototypes for alpha phase live.</p>

    <hr class="govuk-section-break govuk-section-break--visible">
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <article>
      <h2><a href="/version-3/home" class="govuk-link">Version 3</a></h2>
      <p class="govuk-body">Iterations on the prototype kit to include the 'find a trust journey':</p>
     
      <ol class="govuk-list govuk-list--number">

        <li><p class="govuk-body govuk-!-font-weight-bold">Header changes</p>
          <p>Included a search icon button in the header that when clicked displays a search bar or search page from non js users</p></li>

         <li><p class="govuk-body govuk-!-font-weight-bold">Changes to styles and text</p>
            <p>Changed banner colour and banner font colours so that error messages will have sufficient colour contrast</p></li>

            <li><p class="govuk-body govuk-!-font-weight-bold">Changes to 'find a trust'</p>
              <p>Changed search button icon to a green search button, included a search results page and added autocomplete to the search bar. This includes 2 possible search routes. If you start typing a trust name and select a trust in the auto-complete it will take you directly to the trust detail page. Alternatively you can just search for a term and click through to the search results page.</p></li>
              
              <li><p class="govuk-body govuk-!-font-weight-bold">Changed service name to 'Find information about academies and trusts'</p>
               </li>
           
          
          
          </ol>
        
      
      <hr class="govuk-section-break govuk-section-break--visible">
    </article>


    <article>
      <h2><a href="/version-2/home" class="govuk-link">Version 2</a></h2>
      <p class="govuk-body">Iterations on the prototype kit to improve accessibility and usability across screen types:</p>
      <ol class="govuk-list govuk-list--number">
        <li>
          <p class="govuk-body govuk-!-font-weight-bold">Develop style for statistics and figures</p>
          <p class="govuk-body">In the first prototype some figures and statistics were laid out across two columns within grey cards. This layout changes significantly on smaller screens, and leads to unoptimal line lengths.</p>
        </li>
        <li>
          <p class="govuk-body govuk-!-font-weight-bold">Introduce dynamic data</p> 
          <p class="govuk-body">The use of dynamic data in templates will make future iterations on data tables easier for the team to develop, and will allow user testing with different scenarios.</p>
        </li>
         <li>
          <p class="govuk-body govuk-!-font-weight-bold">Update page headings and titles</p> 
          <p class="govuk-body">When a user is viewing information about a trust, information is split across several pages. Previously each page had the same title: the Trust's name. Now, the title and h1 both reflect the particular information a user is viewing about a trust, such as 'Governance', and a banner above the h1 displays the name of the Trust.</p>
        </li>
      </ol>
      <hr class="govuk-section-break govuk-section-break--visible">
    </article>


    <article>
      <h2><a href="/version-1/home" class="govuk-link">Version 1</a></h2>
      <p class="govuk-body">Upgrade Figma prototype to use GOV.UK Prototype Kit to enable accessibility testing and user research. The following screens have been developed:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Home</li>
        <li>Trust details</li>
        <li>Academies in Trust</li>
        <li>Governance</li>
        <li>Cases and concerns</li>
        <li>Financial documents</li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--visible">
    </article>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://github.com/DFE-Digital/TRAMS-alpha" class="govuk-link govuk-link--no-visited-state">
              GitHub
            </a>
          </li>
          <li>
            <a href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Academies-and-Free-Schools-SIP/_wiki/wikis/Academies-and-Free-Schools-SIP.wiki/3413/Alpha" class="govuk-link govuk-link--no-visited-state">
              Project wiki
            </a>
          </li>
          <li>
            <a href="/manage-prototype" class="govuk-link govuk-link--no-visited-state">
              Manage prototype
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
