{% extends "layouts/main.html" %}

{% block pageTitle %}
Versions – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }} Prototypes
    </h1>
    <p class="govuk-body-l">This is where the Department for Education Regional Services Division (RSD) TRust and
      Academies Management System (TRAMS) prototypes for alpha phase live.</p>

    <hr class="govuk-section-break govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2><a href="/version-1/home" class="govuk-link--no-visited-state">Version 1</a></h2>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://github.com/DFE-Digital/TRAMS-alpha" class="govuk-link--no-visited-state">
              GitHub
            </a>
          </li>
          <li>
            <a href="/manage-prototype" class="govuk-link--no-visited-state">
              Manage prototype
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
