{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "../includes/trust-search.njk" import appTrustSearch%}

{% set bodyClasses = "version-3 dfe-template__body" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
<header class="govuk-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <img src="/public/images/crest.png" alt=""
            class="govuk-header__logotype-crown-fallback-image">
          <span class="govuk-header__logotype-text">
            Department for Education |
          </span>
        </span>
        <span class="govuk-header__product-name">{{ serviceName }}</span>
      </a>
      <strong class="govuk-tag">alpha</strong>
    </div>
    {% block headerNavLinks %}
    <div class="govuk-header__content">
      <nav aria-label="Menu" class="govuk-header__navigation ">
        <ul id="navigation" class="govuk-header__navigation-list">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="./help">
              Help
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <button class="govuk-button dfe-search-icon-button dfe-search-js-toggle dfe-inline-button" data-module="govuk-button" type="submit" aria-controls="search-menu" aria-expanded="false">
              <span class="govuk-visually-hidden">Search</span>
              <svg width="20" height="20" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
    
    {% endblock %}
  </div>
</header>
<div id="search-menu" class="dfe-banner dfe-banner--white" hidden>
  <div class="govuk-width-container">
    <div class="govuk-grid-row ">
      <div class="govuk-grid-column-two-thirds">
        <form class="govuk-form-group" action="./search" method="post">
          {{appTrustSearch('header')}}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script src="/public/javascripts/autocomplete.js"></script>
  <script src="/public/javascripts/header-search.js"></script>
  <script type="text/javascript">
    autocomplete({
      idPrefix: 'header',
      formName: 'search',
      valueName: 'uid',
      path: '/trusts'
    })
  </script>
{% endblock %}
