{{ govukDetails({
  summaryHtml: '<span>Data source</span> <span>(last updated 21 December 2021)</span>',
  classes: 'govuk-!-margin-bottom-0',
  html: '
    <dl class="dfe-data-source-list">
      <div class="dfe-data-source-list__item">
        <dt class="dfe-data-source-list__title">Data source:</dt>
        <dd>Get information about schools</dd>
      </div>
      <div class="dfe-data-source-list__item">
        <dt class="dfe-data-source-list__title">Last updated:</dt>
        <dd>21 December 2021</dd>
      </div>
      <div class="dfe-data-source-list__item">
        <dt class="dfe-data-source-list__title">Next scheduled update:</dt>
        <dd>21 January 2022</dd>
      </div>
    </dl>
  '
}) }}
