{{ govukDetails({
  summaryHtml: '<span>Data source</span> <span>(last updated 21 December 2021)</span>',
  classes: 'govuk-!-margin-bottom-0',
  html: '
    <dl class="govuk-summary-list govuk-summary-list--no-border dfe-summary-list-statistics">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Data source</dt>
        <dd class="govuk-summary-list__value">Get information about schools</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Last updated</dt>
        <dd class="govuk-summary-list__value">21 December 2021</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Next scheduled update</dt>
        <dd class="govuk-summary-list__value">21 January 2022</dd>
      </div>
    </dl>
  '
}) }}
