{% extends "layout.html" %}

{% block pageTitle %}
  Search academy or trust
{% endblock %}

{% block beforeContent %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/academy/">Search academy or trust</a>
            </li>
        </ol>
    </div>
    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
       Search by trust, academy or number
      </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="panel search govuk-!-margin-bottom-5">

                    <div class="gc-search">
                        <form method="GET" action="/academy/list">
                            <label for="search" class="govuk-label">
                                <p id="search-hint" class="govuk-heading-m">
                Search
            </p>
                            </label>

                            <div class="inner-form govuk-!-margin-bottom-3">
                                <div class="input-field second-wrap">
                                    <input id="search" name="register-search" type="text" placeholder="" aria-describedby="search-hint" spellcheck="false" data-ms-editor="true">
                                </div>
                                <div class="input-field third-wrap">
                                    <button class="btn-search" type="submit" aria-label="Search">
                                        <svg class="gcweb-icon gcweb-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                            <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                                        </svg>

                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
            <div class="govuk-grid-column-one-third"></div>
        </div>

    {% endblock %}